body {
    background-image: url('Background_image_1.jpg');
    color: white;
}

#l1 {
    color: white;
}

#p1_login_section {
    background-color: white;
    padding: 20px;
    height: 30%;
    width: 70%;
    border-radius: 25px;
    border: 2px solid #73AD21;
    background-image: "Wallpaper_2.jpg";
}

#p2_login_section {
    background-color: white;
    padding: 20px;
    height: 30%;
    width: 70%;
    border-radius: 25px;
    border: 2px solid #73AD21;
    background-image: "Wallpaper_2.jpg";
}

#output {
    background: white;
    border-radius: 10px;
    border-top: 10px solid #f52020;
    padding: 10px;
    float: none;
    text-align: left;
}